{erl_opts, [debug_info]}.
{deps, [
  % not using the tag 'cuq they haven't published my Unicode fix yet
  {cqerl, ".*", {git, "git://github.com/cqerl/cqerl.git", {branch, "master"}}},
  png
  ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [orderbackend]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{alias, [
  {check, [xref, dialyzer]}
]}.