{erl_opts, [debug_info]}.
{deps, [
  % not using the tag 'cuz they haven't published my Unicode fix yet
  {cqerl, ".*", {git, "git://github.com/cqerl/cqerl.git", {branch, "master"}}},
  png,
  gen_smtp,
  {eiconv, "1.0.0"},
  pot
 ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [yamkabackend]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{alias, [
  {check, [xref, dialyzer]}
]}.

{relx, [{release, {yamkabackend, "0.0.1"},
         [yamkabackend, png],
         [{include_src, false}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
