{minimum_otp_vsn, "24.0"}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {cqerl, ".*", {git, "git://github.com/cqerl/cqerl.git", {branch, "master"}}},
  png,
  gen_smtp,
  {eiconv, "1.0.0"},
  pot,
  {eblurhash, "1.2.0"},
  lager,
  {eep, ".*", {git, "git://github.com/virtan/eep", {branch, "master"}}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [pot, eep, png, lager, sync, yamkabackend]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{alias, [
  {check, [xref, dialyzer]}
]}.

{relx, [{release, {yamkabackend, "0.0.1"},
         [pot, png, lager, yamkabackend],
         [{include_src, false}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{plugins, [rebar3_format]}.